/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/* ◎ここから */
.container {
    text-align: center;
    padding: 150px 0;
	background: #ececec;
	background-image: url(../image/S__25411591_0.jpg);
	background-size: cover;
}

.js__container {
	display: flex;
}


.alert {
	padding-bottom: 25px;
	line-height: 1.6;
}

.m-2 {
	
}

.m-2:not(:first-child) {
    margin-left: 20px;
}

.jumbotron {
	background-color: #fff;
	display: inline-block;
	padding: 50px;
}


.title {
	text-align: center;
	color: #fff;
	padding: 20px 0;
	font-size: 30px;
	font-weight: bold;
}

/* タイマー */
#log {
	background-color: #fff;
	padding: 20px;
	display: inline-block;
	margin-bottom: 30px;
}




@media (max-width: 600px) {
	.title {
		font-size: 20px;
	}
	.js__container {
		flex-direction: column;
	}
	.m-2:not(:first-child) {
		margin-left: 0px;
	}
	.m-2 {
		margin-bottom: 20px;
	}
	.jumbotron {
		padding: 30px;
	}
}

/* large screen */
@media (min-width: 800px) {

}